body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
.container {
  margin: 0;
  background-color: #111111;
}
.navbar {
  display: flex;
  background-image: url(./assets/e8f2612f-f2e9-4c65-ac61-50c0d76e6c55.jpg);
  padding: 20px 150px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;
  margin-bottom: 0;
  background-color: #111111;
}
.logo img {
  float: left;
  height: 5%;
  margin-top: 1px;
  width: 100px;
  padding-right: 30px;
}
.nav1 {
  display: flex;
  justify-content: space-between;
}

.list1 ul {
  list-style: none;
  display: flex;
}
.list1 a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  display: flex;
  padding-right: 20px;
}
.list2 {
  align-items: center;
}
.list2 ul {
  list-style: none;
  display: ;
  display: flex;
  padding-top: 0;
  margin-top: 8px;
  align-items: center;
}
.list2 a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding-right: 30px;
  font-size: 12px;
}
.list2 img {
  height: 25px;
  color: #fff;
  margin-top: 0;
}
.hero {
  background-color: #111111;
  color: #fff;
  margin: 0;
  padding-top: 10px;
  text-align: center;
}
.hero h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}
.hero ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 20px;
}
.hero li {
  padding-right: 5px;
}
.list3 {
  border-right: 3px solid #9bf00b;
}
.list4 {
  padding-left: 5px;
  border-right: 1px solid #9bf00b;
}
.list5 {
  padding-left: 5px;
}
.hero h6 {
  font-size: 20px;
}
.hero p {
  font-size: 20px;
}
.hero p span {
  color: #9bf00b;
}
.section3 {
  background-image: url(./assets/845c5daf-7706-432e-bda4-a8bf4fc3392e.jpg);
  max-width: auto;
  height: 140vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
.section3 h1 {
  color: #fff;
  padding: 300px 150px 0 150px;
  text-align: left;
  font-size: 80px;
  font-weight: 900;
  margin-top: 0;
}
.section3 h6 {
  color: #9bf00b;
  padding: 0 150px;
  font-size: 16px;
}
.section4 {
  background-color: #111111;
}
.section4 img {
  height: 90vh;
  max-width: 100%;
}
.section4 p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  border-top: 2px solid #fff;
  max-width: 400px;
  padding-top: 40px;
  margin-left: 550px;
}
.section5 {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  background-color: #111111;
}
.section5 img {
  width: 280px;
  height: auto;
}
.section6 {
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.section6 h2 {
  font-size: 40px;
  line-height: 20px;
}
.section6 p {
  font-size: 20px;
  line-height: 20px;
}
.section6 p span {
  border-left: 3px solid #fff;
}
.section7 {
  background-image: url(./assets/11425f72-5921-441c-8338-704d4e20ce3f.jpg);
  height: 120vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111111;
  color: #fff;
}
.content {
  /* padding: 400px 100px 400px 1100px; */
  float: right;
  padding-top: 300px;
  padding-right: 150px;
}
.content h2 {
  font-size: 45px;
  margin-bottom: 0;
}
.content p {
  font-size: 25px;
}
.section8 {
  background-image: url(./assets/b2c8b2d6-614a-4b6b-be5b-8427f601d128.jpg);
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.tables {
  color: #fff;
  padding: 0 150px;
}
.tablescontainer {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

tr {
  border-bottom: 1px solid #fff;
}

td {
  padding: 20px;
  font-size: 13px;
}
.section10 {
  display: flex;
  color: #fff;
  padding-top: 100px;
  justify-content: space-between;
  padding: 100px 150px 0 150px;
}
.section10 img {
  height: 450px;
  width: 800px;
}
.pass h2 {
  padding-top: 200px;
  font-size: 40px;
  color: #9bf00b;
  line-height: 1.5px;
}
.pass p {
  font-size: 15px;
}
.pass h6 {
  font-size: 15px;
  text-align: center;
  border: 1px solid #111111;
  background-color: #9bf00b;
  color: #111111;
  padding: 10px 40px;
  float: left;
  margin-top: 0;
  padding-left: 0;
}
.section11 {
  color: #fff;
  padding: 50px 150px 0 150px;
  font-size: 10px;
}
.section12 {
  display: flex;
  padding: 20px 150px;
  background-color: #fff;
  margin-top: 40px;
}
.footer {
  padding-right: 15px;
  color: #111111;
}
.images {
  display: flex;
  padding-right: 15px;
  padding-top: 15px;
}
.images img {
  height: 20px;
  padding-right: 10px;
}
.section13 {
  background-color: rgb(199, 196, 196);
  display: flex;
  padding: 0 150px;
  padding-bottom: 30px;
}
.section13 h6 {
  font-size: 18px;
  margin-bottom: 0;
}
.final {
  padding-right: 90px;
}
.final p {
  font-size: 12px;
}
.section14 {
  background-color: #fff;
  margin-top: 0;
  padding: 0 150px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.sec141 p {
  font-size: 10px;
}
.section14 .sec142 {
  display: flex;
}
.sec142 p {
  padding-right: 15px;
  font-size: 10px;
}
